html, body {
	margin: 0;
	padding: 0;
	font-family: "Cabin", Arial;
	}
.lista {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	font-size: 1.5em;
	background-color: #455A64;
	text-align: center;
	margin: 0;
	padding: 0;
	z-index: 10;
  }
.lista ul {
	background-color: #455A64;  
	text-align: center;
	margin: 0;
	padding: 0.9em;
	}
.lista li {
	color: white;
	background-color: #455A64;
	display: inline;
	padding: 0 0.5em 0;
	}
.lista li a:link {
	text-decoration: none;
	color: white;
	} 
.lista li a:visited {
	color: white;
	}               
.lista li a:hover {
	color: #FFA799;
	text-decoration: underline;
	}  
.lista li a:active {
	font-weight: bold;
	}
.inizio {
	text-align: center;
	position: relative;
	top: 2em;
	width: 100%;
	}
.header {
<<<<<<< HEAD
  text-align: center;
  background: url("images/proloco.png") no-repeat center top;
  padding-bottom: 3em;
  padding-top: 1.5em;
  background-position: center center;
  }
  .header h1 {
  font-size: 4em;
  text-align: center;
  color: #455A64;
  }
  .path {
  background-color: #455A64;
  margin: 0;   
  position: relative;
  top:0em;
  padding: 0.1em;
  }
  .path p {
  color: white;
  }
  .articolo {
  font-style: justify;
  position: relative;
  width: 68%;
  text-align: center;
  margin: 2em auto 0;
  padding: 1em 0.5em;
  }
  .articolo h2 {
  font-size: 3em;
  color: black;
  text-align: center;
  }
  .articolo p {
  font-size: 1.5em;
  color: black;
  text-align: justify;
  }
  .articolo img {
  width: 95%;
  }
  .eventi {
  position: relative;
  width: 86%;
  text-align: center;
  margin: 2em auto 0;
  padding: 1em 0.5em;
  }
  .eventi h2 {
  font-size: 3em;
  color: black;
  text-align: center;
  }
  .eventi h3 {
  font-size: 2.4em;
  color: black;
  text-align: center;
  }
  .eventi p {
  font-size: 1.5em;
  color: black;
  }
  .eventi img {
  width: 95%;
  }
  .eventi ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  }
  .curiosita{
  position: relative;
  width: 86%;
  text-align: center;
  margin: 2em auto 0;
  padding: 1em 0.5em;	
  }
  .curiosita h2{
  font-size: 3em;
  color: black;
  text-align: center;
  }
  .curiosita h3{
  font-size: 2.4em;
  color: black;
  text-align: center;
  }
  .curiosita ul{
  list-style-type: none;
  margin: 0;
  padding: 0; 	
  }
  .ricetta ul{
  list-style-type: none;
  margin: 0;
  padding: 0;	
  }
  .ricetta li{
  display:inline;
  }
  .ricetta img{
  width: 95%;
  }
  .ricetta p{
  font-size: 1.5em;
  color: black;	
  }
  .contatti {
  background-color: #DCDCDC;
  position: relative;
  text-align: center;
  margin: 2em auto 0;
  padding: 1em 0.5em;
  padding-bottom: 3em;
  }
  .contatti h2 {
  font-size: 3em;
  color: black;
  text-align: center;
  }
  .contatti h3 {
  font-size: 2.4em;
  color: black;
  text-align: center;
  }
  .contatti p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  }
  .contatti img {
  width: 95%;
  }
  .contatti ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  }
  .opinioni {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0%;
  margin-top: 2em;
  padding: 0%;
  }
  .opinioni h2 {
  font-size: 3em;
  color: black;
  text-align: center;
  }
  .opinioni h3 {
  font-size: 2.4em;
  color: black;
  text-align: center;
  }
  .opinioni p {
  font-size: 1.5em;
  color: black;
  }
  .opinioni img {
  width: 95%;
  }
  .opinioni ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  }
  #paropinioni p{
  font-family: "Cabin", Arial;
  padding: 2.5em; 
  }
  
  .info{
  position: relative;
  width: 86%;
  text-align: center;
  margin: 2em auto 0;
  padding: 1em 0.5em;
  }
  .info img{
  width: 20%;
  }
  #mappa {
  width: 55%;
  margin: 2em auto;
  }
  #framemappa {
  width: 100%;
  margin: 0;
  padding: 0;
  }
  .listaeventi {
  border-bottom: 2px dashed grey;
  }

  #oraevento {
  font-weight: bold;
  border-bottom: 1px dashed grey;
  padding-bottom: 1em;
  }
  .footer {
  text-align: center;
  font-size: 1em;
  background-color: #455A64;
  margin: 0;
  padding: 1em;
  }
  .footer p {
  color: white; 
  }
  .footer a {
  font-weight: bold;
  color: #EEE8AA;
  text-decoration: none;
  }

  #formsx {
  float: left;
  text-align: center;
  padding: 0.5em auto;
  margin-left: 15%;
  margin-right: 15%;
  }
  #formdx {
  list-style-type: none;
  text-align: center;
  }

  #form li {
  list-style-type: none;
  padding: 0.5em;
  }
  
  #nomecognome li{
  list-style-type: none;
  text-align: center;
  }
  #nomecognome p {
  color: red;
  }
  
  #introp {
  padding: 2em;
  margin: 2em;
  }
  
  #listafinale {
  margin: 0.5em;
  padding: 0.5em;
  border-bottom: 1px dashed grey;
  }
=======
	text-align: center;
	background-image: url("./images/proloco.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-bottom: 3em;
	padding-top: 1.5em;
	background-position: center center;
	}
.header h1 {
	font-size: 4em;
	text-align: center;
	color: #455A64;
	}
.path {
	background-color: #455A64;
	margin: 0;   
	position: relative;
	top:0em;
	padding: 0.1em;
	}
.path p {
	color: white;
	}
.articolo {
	font-style: justify;
	position: relative;
	width: 68%;
	text-align: center;
	margin: 2em auto 0;
	padding: 1em 0.5em;
	}
.articolo h2 {
	font-size: 3em;
	color: black;
	text-align: center;
	}
.articolo p {
	font-size: 1.5em;
	color: black;
	text-align: justify;
	}
.articolo img {
	width: 95%;
	}
.eventi {
	position: relative;
	width: 86%;
	text-align: center;
	margin: 2em auto 0;
	padding: 1em 0.5em;
	}
.eventi h2 {
	font-size: 3em;
	color: black;
	text-align: center;
	}
.eventi h3 {
	font-size: 2.4em;
	color: black;
	text-align: center;
	}
.eventi p {
	font-size: 1.5em;
	color: black;
	}
.eventi img {
	width: 95%;
	}
.eventi ul {
	list-style-type: none;
	margin: 0;
	padding: 0; 
	}
.contatti {
	background-color: #DCDCDC;
	position: relative;
	text-align: center;
	margin: 2em auto 0;
	padding: 1em 0.5em;
	}
.contatti h2 {
	font-size: 3em;
	color: black;
	text-align: center;
	}
.contatti h3 {
	font-size: 2.4em;
	color: black;
	text-align: center;
	}
.contatti p {
	font-size: 1.5em;
	color: black;
	text-align: center;
	}
.contatti img {
	width: 95%;
	}
.contatti ul {
	list-style-type: none;
	margin: 0;
	padding: 0; 
	}
.info{
	position: relative;
	width: 86%;
	text-align: center;
	margin: 2em auto 0;
	padding: 1em 0.5em;
	}
.info img{
	width: 20%;
	}
#mappa {
	width: 55%;
	margin: 2em auto;
	}
#framemappa {
	width: 100%;
	margin: 0;
	padding: 0;
	}
.listaeventi {
	border-bottom: 2px dashed grey;
	}
#oraevento {
	font-weight: bold;
	border-bottom: 1px dashed grey;
	padding-bottom: 1em;
	}
.footer {
	text-align: center;
	font-size: 1em;
	background-color: #455A64;
	margin: 0;
	padding: 1em;
	}
.footer p {
	color: white; 
	}
.footer a {
	color: white;
	text-decoration: none;
	}
#formsx {
	float: left;
	text-align: center;
	padding: 0 auto;
	margin-left: 15%;
	margin-right: 15%;
	}
#formdx {
	list-style-type: none;
	text-align: center;
	}
#form li {
	padding: 0.5em;
	}
>>>>>>> origin/master
