html, body {
    background: white;
    font-size: 12pt;
    color: black;
    font-family: Times, Helvetica, sans-serif;
    margin:0;
	padding:0;
}
#header {
	margin-left:1%;
	background:none;
	text-align:center;
	
}

.header h1 {
  	
	font-size: 1em;
	text-align: center;
  	
  }
  .eventi img {
  width: 95%;
  display: none;
  }


