html, body {
	margin: 0;
	padding: 0;
}  
.lista {
	font-family: "Cabin";
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	font-size: 1.5em;
	background-color: #455A64;
	text-align: center;
	margin: 0;
	padding: 0;
	z-index: 10;
}
.lista ul {
	background-color: #455A64;  
	text-align: center;
	margin: 0;
	padding: 0.9em;
}
.lista li {
	color: white;
	background-color: #455A64;
	display: inline;
	padding: 0 0.5em 0;
}
.lista li a {
	color: white;
}
.inizio {
	text-align: center;
	position: relative;
	top: 1.6em;
	width: 100%;
}
.header {
	text-align: center;
	background: url(proloco1.jpg) no-repeat center;
	background-size: cover;
	padding-bottom: 5em;
	padding-top: 5em;
}
.header h1 {
	font-family: "Cabin";
	font-size: 4em;
	text-align: center;
	color: #455A64;
}
.path {
	background-color: #455A64;
	font-family: "Cabin";
	margin: 0;
	position: relative;
	top:0em;
	padding: 0.1em;
}
.articolo {
	position: relative;
	width: 86%;
	text-align: center;
	font-family:"Cabin";
	margin: 2em auto 0;
	padding: 1em 0.5em;
}
.articolo h2 {
	font-size: 3em;
	color: black;
	text-align: center;
}
.articolo p {
	font-size: 1.5em;
	color: black;
}
.articolo img {
	width: 95%;
 }
.eventi {
	position: relative;
	width: 86%;
	text-align: center;
	font-family:"Cabin";
	margin: 2em auto 0;
	padding: 1em 0.5em;
}
.eventi h2 {
	font-size: 3em;
	color: black;
	text-align: center;
}
.eventi h3 {
	font-size: 2.4em;
	color: black;
	text-align: center;
}
.eventi p {
	font-size: 1.5em;
	color: black;
}
.eventi img {
	width: 95%;
}
.eventi ul {
	list-style-type: none;
	margin: 0;
	padding: 0; 
}
.info{
	position: relative;
	width: 86%;
	text-align: center;
	font-family:"Cabin";
	margin: 2em auto 0;
	padding: 1em 0.5em;
}
.info img{
	width: 20%;
}
.footer {
	font-family: "Cabin";
	text-align: center;
	font-size: 1em;
	background-color: #455A64;
	margin: 0;
	padding: 1em;
}
#form li {
	padding: 0.5em;
}